<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <% if (locals.deniedLogin) { %>
        <p style="color: rgb(218, 35, 35);"><%= deniedLogin %></p>
    <% } %>

    <form action="/login" method="POST">
        
        <label for="email">email</label>
        <input type="email" name="email" placeholder="Enter your email" required /><br><br>

        <label for="password">password</label>
        <input type="password" name="password" placeholder="Enter your password" required /><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>