<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="username">username</label>
        <input type="text" name="username" placeholder="Enter your name" required /><br><br>

        <label for="email">email</label>
        <input type="email" name="email" placeholder="Enter your email" required /><br><br>

        <label for="password">password</label>
        <input type="password" name="password" placeholder="Enter your password" required /><br><br>
        
        <label for="pfpImage">pfpImage</label>
        <input type="file" name="pfpImage" placeholder="Enter your pfpImage" /><br><br>

        <button type="submit">Register</button>
    </form>

    <!--if not undefined-->
    <% if (locals.successReg) { %>
        <div style="color: green;">
            <p><%= successReg %></p> 
        </div>
    <% } %>
</body>
</html>